<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/header.ejs') %> 

    <div class="category-id">
        
        <% products.forEach(product => { %>
            <div class="card">
                <a href="/products/detail/<%- product.id %>">
                <div class="imgBox">
                    <img src= "/img/products/<%- product.image %> "style ="max-width: 25%" alt="cerveza">
                </div>
                </a>
                <div class="contentBox">
                    <h3><%= product.brand.name %> <%= product.size.measure %>ml </h3>
                    <h2 class="price">$<%= product.price %></h2>
                    <a href="/src/views/productCart.ejs" class="buy">comprar ahora</a>
                </div>          
            </div>  

        <% }) %> 
    </div>

    <%- include('../partials/footer.ejs') %> 

    <%- include('../partials/scripts.ejs') %> 
    
</body>

</html>