<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>

<%- include('../partials/header.ejs') %> 

 <!-- TARGETAS CON SCROLL HORIZONTAL -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

<main class= "Home_search">

        <% if (result.length > 0) {  %> 
            <p class="fwb fsl c2 pl-5">Resultados de la búsqueda de "<%- search %>"</p>
            <div class="dosCajitass">

            <% result.forEach(product => { %>
                <div class="card">
                    <a href="/products/detail/<%- product.id %>">
                    <div class="imgBox">
                        <img src= "/img/products/<%- product.image %>"style ="max-width: 25%" alt="cerveza">
                    </div>
                    </a>
                    <div class="contentBox">
                        <h3><%= product.brand.name %> <%= product.size.measure %>ml </h3>
                        <h2 class="price">$<%= product.price %></h2>
                        <a href="/products/cart" class="buy">Comprar Ahora</a>
                    </div>          
                </div>  
            <% }) %>
            </div>
        <% } else { %> 
            <p class="fwb fsl c2 pl-5">No se han encontrado resultados.</p>
        <% } %> 
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    
   <!--  <article class="related">
        <p class="fwb fsl c2">Categorias</p>
        <div id="items">
        <a href="#">
            <div class="related-1 c1b">
                <img src="/img/imagenes-produtos/Capa 1.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        <a href="#">
            <div class="related-2 c1b">
                <img src="/img/imagenes-produtos/vaso-cerveza-negra.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        <a href="#">
            <div class="related-3 c1b">
                <img src="/img/imagenes-produtos/vaso-cerveza-roja.png" alt="" style="max-width: 60px;">
            </div>
        </a>
        </div>
    </article> -->
</main>
    
    <%- include('../partials/footer.ejs') %> 

    <%- include('../partials/scripts.ejs') %> 
</body>
</html> 