<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="form-container">
        <div class="form-register">
            <form action="/users/register" method="POST" enctype="multipart/form-data" id="formulario">
                <div class="form">
                    <h1>Crear Cuenta</h1>

                    <div class="input-form" id="grupo__name">
                        <div class="input-container" >
                            <input type="text" name="name" id="name" value="<%= locals.old && old.name %>" required><span class="barra"></span>
                            <label class="label-input" for="">Nombre</label>
                            <i class="formulario__validacion-estado fas fa-check-circle"></i>
                        </div>
                        <small class="error"><%= locals.errors && errors.name ? errors.name.msg  : "" %> </small>
                    </div>
                    
                    <div class="input-form" id="grupo__lastname">
                        <div class="input-container" >
                            <input type="text" name="lastname" id="lastname" value="<%= locals.old && old.lastname %>" required><span class="barra"></span>
                            <label class="label-input" for="">Apellido</label>
                            <i class="formulario__validacion-estado fas fa-check-circle"></i>
                        </div>
                        <small class="error"><%= locals.errors && errors.lastname ? errors.lastname.msg  : "" %> </small>
                    </div>

                    <div class="input-form" id="grupo__email">
                        <div class="input-container" >
                            <input type="text" name="email" id="email" value="<%= locals.old && old.email %>" required><span class="barra"></span>
                            <label class="label-input" for="">Email</label>
                            <i class="formulario__validacion-estado fas fa-check-circle"></i>
                        </div>
                        <small class="error"><%= locals.errors && errors.email ? errors.email.msg  : "" %> </small>
                    </div>

                    <div class="input-form" id="grupo__password">
                        <div class="input-container">
                            <input type="password" name="password" id="password" required><span class="barra"></span>
                            <label class="label-input" for="">Contraseña</label>
                            <i class="formulario__validacion-estado fas fa-check-circle"></i>
                        </div>
                        <small class="error"><%= locals.errors && errors.password ? errors.password.msg  : "" %> </small>
                    </div>
                    
                    <div class="input-form" id="grupo__password2">
                        <div class="input-container">
                            <input type="password" name="password2" id="password2" required><span class="barra"></span>
                            <label class="label-input" for="">Confirmar contraseña</label>
                            <i class="formulario__validacion-estado fas fa-check-circle"></i>
                        </div>
                        <small class="error"><%= locals.errors && errors.password2 ? errors.password2.msg  : "" %> </small>
                    </div>

                    <div class="input-file">
                        <div class="input-file-container">
                            <label for="file-upload" class="up-file">
                                <i class="fas fa-cloud-upload-alt"></i> Subir avatar
                            </label>
                            <input id="file-upload" onchange='cambiar()' type="file" style='display: none;'/>
                            <small id="info-file"></small> 
                        </div>
                        <small id="error"></small> 
                    </div>

                    <div class="input-checkbox">
                        <label for="notificaciones">
                            <input type="checkbox" name="terms" id="notificaciones"> Acepto los términos y condiciones.
                        </label><br>
                        <small class="error"><%= locals.errors && errors.terms ? errors.terms.msg : ""%></small>
                    </div>
                    
                    <button type="submit" class="btn-login">CREAR CUENTA</button>
                    <p class="create-account">¿Ya tenes cuenta? <a href="/users/login">Iniciar sesión</a></p>
                </div>

            </form>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../partials/footer.ejs') %> 
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/forms.js" defer></script>
    <script src="/js/registerValidatorFront.js" defer></script>
</body>
</html>